<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      padding: 0
    }
    .textBox{
      height:50px;
      line-height:50px;
    }
    .textBox span{
      display: inline-block;
      width:50%;
    }
    .textBox p {
      height:20px;
      line-height:20px;
      margin: 0;
    }
    .err{
      font-size:18px;
      color: pink;
    }
  </style>
</head>

<body>