<% include _header %>
  <form action="/login" method="POST">
    用户名：
    <input type="text" name="username"> 
    密码：
    <input type="password" name="password">
    <input type="submit" value="确定">
  </form>

  <% include _footer %>